In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("dataset.csv")
df.head()

,ds,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),...,y,rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),unique_id
0,1/2/1940,63,25.8,23.9,24.7,30.0,27.8,28.6,1940-01-02T05:52,1940-01-02T18:17,...,18.5,18.5,0,24,15.6,26.3,341,16.70,3.15,tompobulu
1,1/3/1940,53,25.9,24.2,25.1,30.2,27.9,29.1,1940-01-03T05:53,1940-01-03T18:17,...,6.1,6.1,0,23,12.4,21.2,338,12.68,2.52,tompobulu
2,1/4/1940,61,26.3,24.0,24.9,30.7,28.1,28.9,1940-01-04T05:53,1940-01-04T18:18,...,13.4,13.4,0,23,17.8,27.0,339,14.40,2.76,tompobulu
3,1/5/1940,63,25.6,24.3,24.9,29.5,28.1,28.8,1940-01-05T05:54,1940-01-05T18:18,...,13.6,13.6,0,22,12.6,20.9,340,13.08,2.59,tompobulu
4,1/6/1940,61,25.9,24.0,25.3,30.3,27.4,29.1,1940-01-06T05:54,1940-01-06T18:19,...,10.4,10.4,0,19,15.0,23.8,342,16.47,3.19,tompobulu

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93138 entries, 0 to 93137
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ds                               93138 non-null  object
 1   weather_code (wmo code)          93138 non-null  int64
 2   temperature_2m_max (°C)          93138 non-null  float64
 3   temperature_2m_min (°C)          93138 non-null  float64
 4   temperature_2m_mean (°C)         93138 non-null  float64
 5   apparent_temperature_max (°C)    93138 non-null  float64
 6   apparent_temperature_min (°C)    93138 non-null  float64
 7   apparent_temperature_mean (°C)   93138 non-null  float64
 8   sunrise (iso8601)                93138 non-null  object
 9   sunset (iso8601)                 93138 non-null  object
 10  daylight_duration (s)            93138 non-null  float64
 11  sunshine_duration (s)            93137 non-null  float64
 12  y                                93138 non-null  float64
 13  rain_sum (mm)                    93138 non-null  float64
 14  snowfall_sum (cm)                93138 non-null  int64
 15  precipitation_hours (h)          93138 non-null  int64
 16  wind_speed_10m_max (km/h)        93138 non-null  float64
 17  wind_gusts_10m_max (km/h)        93138 non-null  float64
 18  wind_direction_10m_dominant (°)  93138 non-null  int64
 19  shortwave_radiation_sum (MJ/m²)  93138 non-null  float64
 20  et0_fao_evapotranspiration (mm)  93136 non-null  float64
 21  unique_id                        93138 non-null  object
dtypes: float64(14), int64(4), object(4)
memory usage: 15.6+ MB

In [7]:
df.columns

Index(['ds', 'weather_code (wmo code)', 'temperature_2m_max (°C)',
       'temperature_2m_min (°C)', 'temperature_2m_mean (°C)',
       'apparent_temperature_max (°C)', 'apparent_temperature_min (°C)',
       'apparent_temperature_mean (°C)', 'sunrise (iso8601)',
       'sunset (iso8601)', 'daylight_duration (s)', 'sunshine_duration (s)',
       'y', 'rain_sum (mm)', 'snowfall_sum (cm)', 'precipitation_hours (h)',
       'wind_speed_10m_max (km/h)', 'wind_gusts_10m_max (km/h)',
       'wind_direction_10m_dominant (°)', 'shortwave_radiation_sum (MJ/m²)',
       'et0_fao_evapotranspiration (mm)', 'unique_id'],
      dtype='object')

In [8]:
df['ds'] = pd.to_datetime(df['ds'])
df.dtypes

ds                                 datetime64[ns]
weather_code (wmo code)                     int64
temperature_2m_max (°C)                   float64
temperature_2m_min (°C)                   float64
temperature_2m_mean (°C)                  float64
apparent_temperature_max (°C)             float64
apparent_temperature_min (°C)             float64
apparent_temperature_mean (°C)            float64
sunrise (iso8601)                          object
sunset (iso8601)                           object
daylight_duration (s)                     float64
sunshine_duration (s)                     float64
y                                         float64
rain_sum (mm)                             float64
snowfall_sum (cm)                           int64
precipitation_hours (h)                     int64
wind_speed_10m_max (km/h)                 float64
wind_gusts_10m_max (km/h)                 float64
wind_direction_10m_dominant (°)             int64
shortwave_radiation_sum (MJ/m²)           float64
et0_fao_evapotranspiration (mm)           float64
unique_id                                  object
dtype: object

In [9]:
df['ds'].diff().value_counts().head()

ds
1 days         93135
-31045 days        2
Name: count, dtype: int64

In [10]:
# Mengurutkan data berdasarkan tanggal
df = df.sort_values(by='ds').reset_index(drop=True)

# Cek ulang frekuensi
df['ds'].diff().value_counts().head()

ds
0 days    62092
1 days    31045
Name: count, dtype: int64

In [11]:
# Jumlah total baris
total_rows = len(df)

# Jumlah tanggal unik
unique_dates = df['ds'].nunique()

total_rows, unique_dates

(93138, 31046)

In [12]:
# Menampilkan contoh tanggal duplikat
df[df.duplicated(subset='ds', keep=False)].head()

,ds,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),...,y,rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),unique_id
0,1940-01-02,63,25.8,23.9,24.7,30.0,27.8,28.6,1940-01-02T05:52,1940-01-02T18:17,...,18.5,18.5,0,24,15.6,26.3,341,16.70,3.15,tompobulu
1,1940-01-02,63,24.7,18.6,20.6,29.2,21.0,23.4,1940-01-02T05:51,1940-01-02T18:17,...,20.2,20.2,0,17,7.4,31.7,325,17.41,3.16,bungaya
2,1940-01-02,63,22.5,16.4,18.4,25.9,17.9,20.2,1940-01-02T05:51,1940-01-02T18:16,...,20.2,20.2,0,17,7.4,31.7,325,17.41,3.04,tinggimoncong
3,1940-01-03,53,25.9,24.2,25.1,30.2,27.9,29.1,1940-01-03T05:53,1940-01-03T18:17,...,6.1,6.1,0,23,12.4,21.2,338,12.68,2.52,tompobulu
4,1940-01-03,53,24.0,19.2,21.0,27.5,21.6,23.7,1940-01-03T05:52,1940-01-03T18:17,...,2.7,2.7,0,11,9.9,28.1,317,15.29,2.84,bungaya

In [13]:
# Agregasi data berdasarkan tanggal
df_clean = df.groupby('ds', as_index=False).mean(numeric_only=True)

# Cek hasil
df_clean.head()

,ds,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),sunshine_duration (s),y,rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm)
0,1940-01-02,63.000000,24.333333,19.633333,21.233333,28.366667,22.233333,24.066667,44703.600000,35972.416667,19.633333,19.633333,0.0,19.333333,10.133333,29.900000,330.333333,17.173333,3.116667
1,1940-01-03,53.000000,23.866667,20.133333,21.600000,27.300000,22.633333,24.433333,44698.643333,26970.783333,3.833333,3.833333,0.0,15.000000,10.733333,25.800000,324.000000,14.420000,2.696667
2,1940-01-04,62.333333,24.500000,20.100000,21.500000,28.266667,22.766667,24.366667,44693.313333,25730.116667,12.866667,12.866667,0.0,16.333333,11.333333,25.533333,325.000000,15.266667,2.810000
3,1940-01-05,63.000000,23.066667,20.266667,21.300000,25.933333,22.966667,24.033333,44687.606667,26200.090000,12.400000,12.400000,0.0,16.666667,9.600000,23.300000,328.666667,13.446667,2.496667
4,1940-01-06,61.000000,23.866667,20.033333,21.700000,27.633333,22.400000,24.466667,44681.526667,35934.523333,8.400000,8.400000,0.0,15.666667,10.933333,27.866667,332.666667,16.670000,3.050000

In [14]:
df_clean['ds'].diff().value_counts().head()

ds
1 days    31045
Name: count, dtype: int64

In [15]:
df_clean.isna().sum()

ds                                 0
weather_code (wmo code)            0
temperature_2m_max (°C)            0
temperature_2m_min (°C)            0
temperature_2m_mean (°C)           0
apparent_temperature_max (°C)      0
apparent_temperature_min (°C)      0
apparent_temperature_mean (°C)     0
daylight_duration (s)              0
sunshine_duration (s)              0
y                                  0
rain_sum (mm)                      0
snowfall_sum (cm)                  0
precipitation_hours (h)            0
wind_speed_10m_max (km/h)          0
wind_gusts_10m_max (km/h)          0
wind_direction_10m_dominant (°)    0
shortwave_radiation_sum (MJ/m²)    0
et0_fao_evapotranspiration (mm)    0
dtype: int64

In [16]:
df_clean = df_clean.sort_values('ds')
df_clean = df_clean.set_index('ds')

df_clean = df_clean.interpolate(method='time')

df_clean.head()

,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),sunshine_duration (s),y,rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm)
ds,,,,,,,,,,,,,,,,,,
1940-01-02,63.000000,24.333333,19.633333,21.233333,28.366667,22.233333,24.066667,44703.600000,35972.416667,19.633333,19.633333,0.0,19.333333,10.133333,29.900000,330.333333,17.173333,3.116667
1940-01-03,53.000000,23.866667,20.133333,21.600000,27.300000,22.633333,24.433333,44698.643333,26970.783333,3.833333,3.833333,0.0,15.000000,10.733333,25.800000,324.000000,14.420000,2.696667
1940-01-04,62.333333,24.500000,20.100000,21.500000,28.266667,22.766667,24.366667,44693.313333,25730.116667,12.866667,12.866667,0.0,16.333333,11.333333,25.533333,325.000000,15.266667,2.810000
1940-01-05,63.000000,23.066667,20.266667,21.300000,25.933333,22.966667,24.033333,44687.606667,26200.090000,12.400000,12.400000,0.0,16.666667,9.600000,23.300000,328.666667,13.446667,2.496667
1940-01-06,61.000000,23.866667,20.033333,21.700000,27.633333,22.400000,24.466667,44681.526667,35934.523333,8.400000,8.400000,0.0,15.666667,10.933333,27.866667,332.666667,16.670000,3.050000

In [17]:
(df_clean['rain_sum (mm)'] < 0).sum()

np.int64(0)

In [18]:
df_clean.reset_index(inplace=True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31046 entries, 0 to 31045
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ds                               31046 non-null  datetime64[ns]
 1   weather_code (wmo code)          31046 non-null  float64
 2   temperature_2m_max (°C)          31046 non-null  float64
 3   temperature_2m_min (°C)          31046 non-null  float64
 4   temperature_2m_mean (°C)         31046 non-null  float64
 5   apparent_temperature_max (°C)    31046 non-null  float64
 6   apparent_temperature_min (°C)    31046 non-null  float64
 7   apparent_temperature_mean (°C)   31046 non-null  float64
 8   daylight_duration (s)            31046 non-null  float64
 9   sunshine_duration (s)            31046 non-null  float64
 10  y                                31046 non-null  float64
 11  rain_sum (mm)                    31046 non-null  float64
 12  snowfall_sum (cm)                31046 non-null  float64
 13  precipitation_hours (h)          31046 non-null  float64
 14  wind_speed_10m_max (km/h)        31046 non-null  float64
 15  wind_gusts_10m_max (km/h)        31046 non-null  float64
 16  wind_direction_10m_dominant (°)  31046 non-null  float64
 17  shortwave_radiation_sum (MJ/m²)  31046 non-null  float64
 18  et0_fao_evapotranspiration (mm)  31046 non-null  float64
dtypes: datetime64[ns](1), float64(18)
memory usage: 4.5 MB

In [19]:
# Agregasi berdasarkan tanggal (ds)
df_clean = (
    df
    .groupby('ds', as_index=False)
    .mean(numeric_only=True)
)

# Cek hasil
df_clean.head()

,ds,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),sunshine_duration (s),y,rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm)
0,1940-01-02,63.000000,24.333333,19.633333,21.233333,28.366667,22.233333,24.066667,44703.600000,35972.416667,19.633333,19.633333,0.0,19.333333,10.133333,29.900000,330.333333,17.173333,3.116667
1,1940-01-03,53.000000,23.866667,20.133333,21.600000,27.300000,22.633333,24.433333,44698.643333,26970.783333,3.833333,3.833333,0.0,15.000000,10.733333,25.800000,324.000000,14.420000,2.696667
2,1940-01-04,62.333333,24.500000,20.100000,21.500000,28.266667,22.766667,24.366667,44693.313333,25730.116667,12.866667,12.866667,0.0,16.333333,11.333333,25.533333,325.000000,15.266667,2.810000
3,1940-01-05,63.000000,23.066667,20.266667,21.300000,25.933333,22.966667,24.033333,44687.606667,26200.090000,12.400000,12.400000,0.0,16.666667,9.600000,23.300000,328.666667,13.446667,2.496667
4,1940-01-06,61.000000,23.866667,20.033333,21.700000,27.633333,22.400000,24.466667,44681.526667,35934.523333,8.400000,8.400000,0.0,15.666667,10.933333,27.866667,332.666667,16.670000,3.050000

In [20]:
len(df_clean), df_clean['ds'].nunique()

(31046, 31046)

In [21]:
df_clean = df_clean.sort_values('ds').reset_index(drop=True)
df_clean['ds'].diff().value_counts().head()

ds
1 days    31045
Name: count, dtype: int64

In [22]:
df_clean['ds'] = pd.to_datetime(df_clean['ds'])
df_clean.dtypes

ds                                 datetime64[ns]
weather_code (wmo code)                   float64
temperature_2m_max (°C)                   float64
temperature_2m_min (°C)                   float64
temperature_2m_mean (°C)                  float64
apparent_temperature_max (°C)             float64
apparent_temperature_min (°C)             float64
apparent_temperature_mean (°C)            float64
daylight_duration (s)                     float64
sunshine_duration (s)                     float64
y                                         float64
rain_sum (mm)                             float64
snowfall_sum (cm)                         float64
precipitation_hours (h)                   float64
wind_speed_10m_max (km/h)                 float64
wind_gusts_10m_max (km/h)                 float64
wind_direction_10m_dominant (°)           float64
shortwave_radiation_sum (MJ/m²)           float64
et0_fao_evapotranspiration (mm)           float64
dtype: object

In [24]:
df_clean.columns = (
    df_clean.columns
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('(', '', regex=False)
    .str.replace(')', '', regex=False)
    .str.replace('/', '_', regex=False)
)

In [26]:
df_clean['rain_sum_mm'].describe()

count    31046.000000
mean         7.782602
std          9.846517
min          0.000000
25%          0.800000
50%          4.633333
75%         11.566667
max        157.933333
Name: rain_sum_mm, dtype: float64

In [27]:
# Urutkan kolom
cols = ['ds', 'rain_sum_mm'] + [
    col for col in df_clean.columns if col not in ['ds', 'rain_sum_mm']
]

df_clean = df_clean[cols]
df_clean.head()

,ds,rain_sum_mm,weather_code_wmo_code,temperature_2m_max_°c,temperature_2m_min_°c,temperature_2m_mean_°c,apparent_temperature_max_°c,apparent_temperature_min_°c,apparent_temperature_mean_°c,daylight_duration_s,sunshine_duration_s,y,snowfall_sum_cm,precipitation_hours_h,wind_speed_10m_max_km_h,wind_gusts_10m_max_km_h,wind_direction_10m_dominant_°,shortwave_radiation_sum_mj_m²,et0_fao_evapotranspiration_mm
0,1940-01-02,19.633333,63.000000,24.333333,19.633333,21.233333,28.366667,22.233333,24.066667,44703.600000,35972.416667,19.633333,0.0,19.333333,10.133333,29.900000,330.333333,17.173333,3.116667
1,1940-01-03,3.833333,53.000000,23.866667,20.133333,21.600000,27.300000,22.633333,24.433333,44698.643333,26970.783333,3.833333,0.0,15.000000,10.733333,25.800000,324.000000,14.420000,2.696667
2,1940-01-04,12.866667,62.333333,24.500000,20.100000,21.500000,28.266667,22.766667,24.366667,44693.313333,25730.116667,12.866667,0.0,16.333333,11.333333,25.533333,325.000000,15.266667,2.810000
3,1940-01-05,12.400000,63.000000,23.066667,20.266667,21.300000,25.933333,22.966667,24.033333,44687.606667,26200.090000,12.400000,0.0,16.666667,9.600000,23.300000,328.666667,13.446667,2.496667
4,1940-01-06,8.400000,61.000000,23.866667,20.033333,21.700000,27.633333,22.400000,24.466667,44681.526667,35934.523333,8.400000,0.0,15.666667,10.933333,27.866667,332.666667,16.670000,3.050000

In [28]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31046 entries, 0 to 31045
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ds                             31046 non-null  datetime64[ns]
 1   rain_sum_mm                    31046 non-null  float64
 2   weather_code_wmo_code          31046 non-null  float64
 3   temperature_2m_max_°c          31046 non-null  float64
 4   temperature_2m_min_°c          31046 non-null  float64
 5   temperature_2m_mean_°c         31046 non-null  float64
 6   apparent_temperature_max_°c    31046 non-null  float64
 7   apparent_temperature_min_°c    31046 non-null  float64
 8   apparent_temperature_mean_°c   31046 non-null  float64
 9   daylight_duration_s            31046 non-null  float64
 10  sunshine_duration_s            31046 non-null  float64
 11  y                              31046 non-null  float64
 12  snowfall_sum_cm                31046 non-null  float64
 13  precipitation_hours_h          31046 non-null  float64
 14  wind_speed_10m_max_km_h        31046 non-null  float64
 15  wind_gusts_10m_max_km_h        31046 non-null  float64
 16  wind_direction_10m_dominant_°  31046 non-null  float64
 17  shortwave_radiation_sum_mj_m²  31046 non-null  float64
 18  et0_fao_evapotranspiration_mm  31046 non-null  float64
dtypes: datetime64[ns](1), float64(18)
memory usage: 4.5 MB

In [29]:
df_fe = df_clean.copy()

df_fe['year'] = df_fe['ds'].dt.year
df_fe['month'] = df_fe['ds'].dt.month
df_fe['day'] = df_fe['ds'].dt.day
df_fe['dayofyear'] = df_fe['ds'].dt.dayofyear

df_fe.head()

,ds,rain_sum_mm,weather_code_wmo_code,temperature_2m_max_°c,temperature_2m_min_°c,temperature_2m_mean_°c,apparent_temperature_max_°c,apparent_temperature_min_°c,apparent_temperature_mean_°c,daylight_duration_s,...,precipitation_hours_h,wind_speed_10m_max_km_h,wind_gusts_10m_max_km_h,wind_direction_10m_dominant_°,shortwave_radiation_sum_mj_m²,et0_fao_evapotranspiration_mm,year,month,day,dayofyear
0,1940-01-02,19.633333,63.000000,24.333333,19.633333,21.233333,28.366667,22.233333,24.066667,44703.600000,...,19.333333,10.133333,29.900000,330.333333,17.173333,3.116667,1940,1,2,2
1,1940-01-03,3.833333,53.000000,23.866667,20.133333,21.600000,27.300000,22.633333,24.433333,44698.643333,...,15.000000,10.733333,25.800000,324.000000,14.420000,2.696667,1940,1,3,3
2,1940-01-04,12.866667,62.333333,24.500000,20.100000,21.500000,28.266667,22.766667,24.366667,44693.313333,...,16.333333,11.333333,25.533333,325.000000,15.266667,2.810000,1940,1,4,4
3,1940-01-05,12.400000,63.000000,23.066667,20.266667,21.300000,25.933333,22.966667,24.033333,44687.606667,...,16.666667,9.600000,23.300000,328.666667,13.446667,2.496667,1940,1,5,5
4,1940-01-06,8.400000,61.000000,23.866667,20.033333,21.700000,27.633333,22.400000,24.466667,44681.526667,...,15.666667,10.933333,27.866667,332.666667,16.670000,3.050000,1940,1,6,6

In [30]:
df_fe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31046 entries, 0 to 31045
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ds                             31046 non-null  datetime64[ns]
 1   rain_sum_mm                    31046 non-null  float64
 2   weather_code_wmo_code          31046 non-null  float64
 3   temperature_2m_max_°c          31046 non-null  float64
 4   temperature_2m_min_°c          31046 non-null  float64
 5   temperature_2m_mean_°c         31046 non-null  float64
 6   apparent_temperature_max_°c    31046 non-null  float64
 7   apparent_temperature_min_°c    31046 non-null  float64
 8   apparent_temperature_mean_°c   31046 non-null  float64
 9   daylight_duration_s            31046 non-null  float64
 10  sunshine_duration_s            31046 non-null  float64
 11  y                              31046 non-null  float64
 12  snowfall_sum_cm                31046 non-null  float64
 13  precipitation_hours_h          31046 non-null  float64
 14  wind_speed_10m_max_km_h        31046 non-null  float64
 15  wind_gusts_10m_max_km_h        31046 non-null  float64
 16  wind_direction_10m_dominant_°  31046 non-null  float64
 17  shortwave_radiation_sum_mj_m²  31046 non-null  float64
 18  et0_fao_evapotranspiration_mm  31046 non-null  float64
 19  year                           31046 non-null  int32
 20  month                          31046 non-null  int32
 21  day                            31046 non-null  int32
 22  dayofyear                      31046 non-null  int32
dtypes: datetime64[ns](1), float64(18), int32(4)
memory usage: 5.0 MB

In [31]:
cols = (
    ['ds', 'year', 'month', 'day', 'dayofyear', 'rain_sum_mm'] +
    [col for col in df_fe.columns if col not in 
     ['ds', 'year', 'month', 'day', 'dayofyear', 'rain_sum_mm']]
)

df_fe = df_fe[cols]
df_fe.head()

,ds,year,month,day,dayofyear,rain_sum_mm,weather_code_wmo_code,temperature_2m_max_°c,temperature_2m_min_°c,temperature_2m_mean_°c,...,daylight_duration_s,sunshine_duration_s,y,snowfall_sum_cm,precipitation_hours_h,wind_speed_10m_max_km_h,wind_gusts_10m_max_km_h,wind_direction_10m_dominant_°,shortwave_radiation_sum_mj_m²,et0_fao_evapotranspiration_mm
0,1940-01-02,1940,1,2,2,19.633333,63.000000,24.333333,19.633333,21.233333,...,44703.600000,35972.416667,19.633333,0.0,19.333333,10.133333,29.900000,330.333333,17.173333,3.116667
1,1940-01-03,1940,1,3,3,3.833333,53.000000,23.866667,20.133333,21.600000,...,44698.643333,26970.783333,3.833333,0.0,15.000000,10.733333,25.800000,324.000000,14.420000,2.696667
2,1940-01-04,1940,1,4,4,12.866667,62.333333,24.500000,20.100000,21.500000,...,44693.313333,25730.116667,12.866667,0.0,16.333333,11.333333,25.533333,325.000000,15.266667,2.810000
3,1940-01-05,1940,1,5,5,12.400000,63.000000,23.066667,20.266667,21.300000,...,44687.606667,26200.090000,12.400000,0.0,16.666667,9.600000,23.300000,328.666667,13.446667,2.496667
4,1940-01-06,1940,1,6,6,8.400000,61.000000,23.866667,20.033333,21.700000,...,44681.526667,35934.523333,8.400000,0.0,15.666667,10.933333,27.866667,332.666667,16.670000,3.050000

In [32]:
df_fe[['year', 'month', 'day', 'dayofyear']].describe()

               year         month           day     dayofyear
count  31046.000000  31046.000000  31046.000000  31046.000000
mean    1982.001353      6.522998     15.730432    183.135541
std       24.535927      3.448702      8.800114    105.439530
min     1940.000000      1.000000      1.000000      1.000000
25%     1961.000000      4.000000      8.000000     92.000000
50%     1982.000000      7.000000     16.000000    183.000000
75%     2003.000000     10.000000     23.000000    274.000000
max     2024.000000     12.000000     31.000000    366.000000

In [33]:
# Target (variabel utama)
target = 'rain_sum_mm'

# Fitur awal (numerik, kecuali ds)
initial_features = df_fe.select_dtypes(include=['int64', 'float64']).columns.tolist()
initial_features.remove(target)

initial_features

['weather_code_wmo_code',
 'temperature_2m_max_°c',
 'temperature_2m_min_°c',
 'temperature_2m_mean_°c',
 'apparent_temperature_max_°c',
 'apparent_temperature_min_°c',
 'apparent_temperature_mean_°c',
 'daylight_duration_s',
 'sunshine_duration_s',
 'y',
 'snowfall_sum_cm',
 'precipitation_hours_h',
 'wind_speed_10m_max_km_h',
 'wind_gusts_10m_max_km_h',
 'wind_direction_10m_dominant_°',
 'shortwave_radiation_sum_mj_m²',
 'et0_fao_evapotranspiration_mm']

In [34]:
# Hitung korelasi Pearson dengan target
corr = df_fe[initial_features + [target]].corr()[target].sort_values(ascending=False)

corr

rain_sum_mm                      1.000000
y                                1.000000
precipitation_hours_h            0.710210
weather_code_wmo_code            0.467333
wind_direction_10m_dominant_°    0.338295
daylight_duration_s              0.294738
temperature_2m_min_°c            0.284793
apparent_temperature_min_°c      0.275024
wind_speed_10m_max_km_h          0.103532
wind_gusts_10m_max_km_h          0.103131
apparent_temperature_mean_°c    -0.139386
temperature_2m_mean_°c          -0.401860
apparent_temperature_max_°c     -0.407255
temperature_2m_max_°c           -0.517555
et0_fao_evapotranspiration_mm   -0.659742
shortwave_radiation_sum_mj_m²   -0.679126
sunshine_duration_s             -0.686569
snowfall_sum_cm                       NaN
Name: rain_sum_mm, dtype: float64

In [35]:
pearson_selected = corr[abs(corr) >= 0.1].index.tolist()
pearson_selected.remove(target)

pearson_selected

['y',
 'precipitation_hours_h',
 'weather_code_wmo_code',
 'wind_direction_10m_dominant_°',
 'daylight_duration_s',
 'temperature_2m_min_°c',
 'apparent_temperature_min_°c',
 'wind_speed_10m_max_km_h',
 'wind_gusts_10m_max_km_h',
 'apparent_temperature_mean_°c',
 'temperature_2m_mean_°c',
 'apparent_temperature_max_°c',
 'temperature_2m_max_°c',
 'et0_fao_evapotranspiration_mm',
 'shortwave_radiation_sum_mj_m²',
 'sunshine_duration_s']

In [37]:
from sklearn.feature_selection import VarianceThreshold

# Data fitur (tanpa ds dan target)
X = df_fe[initial_features]

# Variance Threshold
selector = VarianceThreshold(threshold=0.01)
selector.fit(X)

# Fitur yang lolos
variance_selected = X.columns[selector.get_support()].tolist()

variance_selected

['weather_code_wmo_code',
 'temperature_2m_max_°c',
 'temperature_2m_min_°c',
 'temperature_2m_mean_°c',
 'apparent_temperature_max_°c',
 'apparent_temperature_min_°c',
 'apparent_temperature_mean_°c',
 'daylight_duration_s',
 'sunshine_duration_s',
 'y',
 'precipitation_hours_h',
 'wind_speed_10m_max_km_h',
 'wind_gusts_10m_max_km_h',
 'wind_direction_10m_dominant_°',
 'shortwave_radiation_sum_mj_m²',
 'et0_fao_evapotranspiration_mm']

In [38]:
removed_features = set(initial_features) - set(variance_selected)
removed_features

{'snowfall_sum_cm'}

In [39]:
final_features = list(set(pearson_selected) & set(variance_selected))
final_features

['sunshine_duration_s',
 'weather_code_wmo_code',
 'y',
 'wind_direction_10m_dominant_°',
 'daylight_duration_s',
 'precipitation_hours_h',
 'wind_gusts_10m_max_km_h',
 'temperature_2m_min_°c',
 'apparent_temperature_mean_°c',
 'temperature_2m_mean_°c',
 'wind_speed_10m_max_km_h',
 'apparent_temperature_max_°c',
 'et0_fao_evapotranspiration_mm',
 'shortwave_radiation_sum_mj_m²',
 'temperature_2m_max_°c',
 'apparent_temperature_min_°c']

In [40]:
df_final = df_fe[['ds', target] + final_features]
df_final.head()

,ds,rain_sum_mm,sunshine_duration_s,weather_code_wmo_code,y,wind_direction_10m_dominant_°,daylight_duration_s,precipitation_hours_h,wind_gusts_10m_max_km_h,temperature_2m_min_°c,apparent_temperature_mean_°c,temperature_2m_mean_°c,wind_speed_10m_max_km_h,apparent_temperature_max_°c,et0_fao_evapotranspiration_mm,shortwave_radiation_sum_mj_m²,temperature_2m_max_°c,apparent_temperature_min_°c
0,1940-01-02,19.633333,35972.416667,63.000000,19.633333,330.333333,44703.600000,19.333333,29.900000,19.633333,24.066667,21.233333,10.133333,28.366667,3.116667,17.173333,24.333333,22.233333
1,1940-01-03,3.833333,26970.783333,53.000000,3.833333,324.000000,44698.643333,15.000000,25.800000,20.133333,24.433333,21.600000,10.733333,27.300000,2.696667,14.420000,23.866667,22.633333
2,1940-01-04,12.866667,25730.116667,62.333333,12.866667,325.000000,44693.313333,16.333333,25.533333,20.100000,24.366667,21.500000,11.333333,28.266667,2.810000,15.266667,24.500000,22.766667
3,1940-01-05,12.400000,26200.090000,63.000000,12.400000,328.666667,44687.606667,16.666667,23.300000,20.266667,24.033333,21.300000,9.600000,25.933333,2.496667,13.446667,23.066667,22.966667
4,1940-01-06,8.400000,35934.523333,61.000000,8.400000,332.666667,44681.526667,15.666667,27.866667,20.033333,24.466667,21.700000,10.933333,27.633333,3.050000,16.670000,23.866667,22.400000

In [41]:
# Hapus fitur non-relevan secara domain
df_fe = df_fe.drop(columns=['y'])

In [42]:
VarianceThreshold(threshold=0.01)

VarianceThreshold(threshold=0.01)

In [44]:
df_final['ds'].min(), df_final['ds'].max()

(Timestamp('1940-01-02 00:00:00'), Timestamp('2024-12-31 00:00:00'))

In [45]:
df_final['ds'].sort_values().diff().value_counts().head()

ds
1 days    31045
Name: count, dtype: int64

In [46]:
df_final.isna().sum()

ds                               0
rain_sum_mm                      0
sunshine_duration_s              0
weather_code_wmo_code            0
y                                0
wind_direction_10m_dominant_°    0
daylight_duration_s              0
precipitation_hours_h            0
wind_gusts_10m_max_km_h          0
temperature_2m_min_°c            0
apparent_temperature_mean_°c     0
temperature_2m_mean_°c           0
wind_speed_10m_max_km_h          0
apparent_temperature_max_°c      0
et0_fao_evapotranspiration_mm    0
shortwave_radiation_sum_mj_m²    0
temperature_2m_max_°c            0
apparent_temperature_min_°c      0
dtype: int64

In [47]:
df_final.describe()

,ds,rain_sum_mm,sunshine_duration_s,weather_code_wmo_code,y,wind_direction_10m_dominant_°,daylight_duration_s,precipitation_hours_h,wind_gusts_10m_max_km_h,temperature_2m_min_°c,apparent_temperature_mean_°c,temperature_2m_mean_°c,wind_speed_10m_max_km_h,apparent_temperature_max_°c,et0_fao_evapotranspiration_mm,shortwave_radiation_sum_mj_m²,temperature_2m_max_°c,apparent_temperature_min_°c
count,31046,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000,31046.000000
mean,1982-07-02 12:00:00.000000064,7.782602,34243.564454,50.003715,7.782602,198.059278,43601.908437,9.315403,29.395975,20.244307,26.178307,22.950682,9.984811,30.658630,3.478084,17.759840,26.624998,23.107806
min,1940-01-02 00:00:00,0.000000,0.000000,0.000000,0.000000,2.333333,42544.460000,0.000000,12.466667,15.000000,21.200000,19.600000,4.400000,22.100000,0.446667,1.223333,20.400000,13.666667
25%,1961-04-02 06:00:00,0.800000,31492.965833,51.000000,0.800000,127.333333,42862.523333,4.000000,24.966667,19.733333,25.300000,22.266667,8.233333,29.366667,2.880000,15.136667,25.466667,22.233333
50%,1982-07-02 12:00:00,4.633333,38853.075000,57.666667,4.633333,155.666667,43569.030000,9.000000,28.333333,20.400000,26.233333,22.866667,9.633333,30.800000,3.480000,18.180000,26.500000,23.400000
75%,2003-10-01 18:00:00,11.566667,40502.399167,61.666667,11.566667,302.000000,44338.093333,13.666667,32.866667,20.933333,27.100000,23.500000,11.300000,32.133333,4.063333,20.880000,27.533333,24.300000
max,2024-12-31 00:00:00,157.933333,42119.363333,65.000000,157.933333,356.333333,44731.943333,24.000000,78.366667,23.233333,30.000000,26.933333,28.500000,37.100000,6.690000,28.556667,33.733333,27.233333
std,NaN,9.846517,9713.923032,18.917145,9.846517,87.331246,755.917837,6.699184,6.235777,0.997343,1.278733,1.019362,2.436805,2.054113,0.984763,4.593159,1.907003,1.698737

In [48]:
df_final.shape

(31046, 18)